<!DOCTYPE >
<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>library</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />


        <nav class="navbar navbar-height:3.25rem;" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="{% url 'home' %}">
                <img src="https://i.ibb.co/YTj62f9/imageedit-2-8584505892.png" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu ">
              <div class="navbar-start">
                <a class="navbar-item " href="{% url 'home' %}">
                  <p style="color: #fff;font-weight: 400;">Home</p>
                </a>
          
                <a class="navbar-item " href="{% url 'book_all' %}">
                  <p style="color: #fff;font-weight: 400;">All Books</p>
                </a>
          
                <div class="navbar-item has-dropdown is-hoverable" >
                  <a class="navbar-link">
                    <p style="color: #fff;font-weight: 400; ">More</p>
                  </a>
          
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'profile' %}">
                      Profile
                    </a>

                    <a class="navbar-item" href="{% url 'upload_book' %}">
                      Upload Books
                    </a>
                    <a class="navbar-item" href="{% url 'book_list' %}">
                      Uploaded Books
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'query' %}">
                      Report an issue
                    </a>
                  </div>
                </div>
              </div>

                {% if user.is_authenticated %}
                    <form class="logout-link" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <div class="navbar-end">
                    <p style="padding-right: 15px;padding-top: 20px;" >Hello, {{ user.username }}</p> 
                    <div style="padding-right: 10px; padding-top: 10px;" ><button type="submit" class="button is-white" style="padding-bottom: 9px;" >LogOut</button>
                    </div>
                    </div>
                    </form>
                {% else %}
                  <a href="{% url 'register_page' %}" style="padding-right: 10px; padding-top: 10px;">
                    <button type="submit" class="button is-white">Log In/Register</button></a>
                  
                {% endif %}
                  
               
            </div>
          </nav>
    </head>


    <style>
      #page-wrapper{
        overflow: scroll;

      }
      
     .navbar-brand{
		background-color: #1c1c1c;
	}

	.navbar-start{
		background-color: #1c1c1c;

    
	}
.navbar{
	background-color: #1c1c1c;
	color: rgb(255, 255, 255);
}
      .logout-link{
        height: 32px;
      }
      .navbar-end{
        height: 32px;
      }
.custom-bg{
  margin-bottom: 10px;
  padding-bottom: 10px;
	height: 100%;
	color:#444;
	overflow:scroll;
	font:300 16px/18px Roboto, sans-serif;
	background:#1c1c1c;
	background-size:cover;
}
    </style>

<body >
	<section class="section custom-bg"> 

                {% block content %}
                
                {% endblock %}
       
                </section>
    </body>

</html>