{% extends "base.html" %}
{% block content %}
<style>
p{
    color: white;;

}
form{
    color:black;
}
</style>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<div class="box is-small" style="width: 50%;  margin: auto; top: 50%; border: 3px solid black; background: url('https://i.ibb.co/nRm2ZJT/imageedit-5-9486225954.png');backdrop-filter: blur(8px); background-size: cover; " >
    
<article class="media" style= "text-align: center;">
  <div class="media-content">

{% for query in queries %}
    {% if query.owner == request.user %}
    <div class="panel panel-default"  style="padding-top:8px;">
        <div class="panel-heading" style="background-color: #665CAC;;">
            <p style="font-size: small;">submited - {{ query.date_added|date:'M d, Y H:i' }}</p>
                <small>
                    
                        <p style="color: rgb(231, 228, 228); font-size: small;">{{ query.text }}</p>
                    
                </small>
        </div>
    </div>
    {% endif %}
{% endfor %}   
<p style="font-size: large; color: black;">Submit Your queries</p>
<form action="" method='post'  >
    {% csrf_token %}
    <p style="padding-bottom: 5px; padding-top: 10px;">{{ form }}</p>
    <button name="submit" class="button is-black">Submit Query</button>
</form>
{% endblock content %}